<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_2.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="latest-news">
            <h2>Latest News</h2>
            <ul>
                <li><a href="#">Article 4</a></li>
                <li><a href="#">Article 5</a></li>
                <li><a href="#">Article 6</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>Copyright © 2023 grishanovv.ru</p>
    </footer>
</body>
</html>
